html {
    box-sizing: border-box;
}

/*
red: rgb(163, 22, 33)
dark blue:  rgb(5, 60, 94)
light blue: rgb(191, 219, 247)
*/

html, body {
    -ms-touch-action: none;
    touch-action: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    padding: 0;
    background: #eee9d0;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#game-wrapper {
    margin: 0 auto;
    max-width:1280px!important;
    max-height: 720px!important;
    position: relative;
    margin-top: 30px;
}

.stars {
    height: 34px;
    width: 100%;
    background-color: rgb(5, 60, 94);
    background-image: url('assets/star.svg');
    background-size: 20px;
    background-position: 3px 3px;
    background-repeat: repeat-x;
    border: 7px solid rgb(163, 22, 33);
    border-left: 0;
    border-right: 0;
}

#game-header {
    position: absolute;
    top: -20px;
    right: 25px;
    width: 150px;
    z-index: 999;
    background: #FFF;
    border: 7px solid rgb(163, 22, 33);
    border-radius: 40px;
}

#game-header img {
    display: block;
}

#game {
    position: relative;
    max-width:1280px!important;
    max-height: 720px!important;
    margin: 0;
    background: rgb(191, 219, 247);
}
#game-canvas {
    position: relative;
    width: calc(100% - 200px);
    float: left;
}

canvas {
    width:100%!important;
    height:100%!important;
    max-width:1280px!important;
    max-height: 720px!important;
}


#game-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    overflow: hidden;
}

#game-overlay-decree, #game-overlay-news {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    transform: translateY(250px);

    transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#game-overlay-decree {
    padding-left: 220px;
}

#game-overlay-decree-person {
    position: absolute;
    left: 30px;
    bottom: 30px;

    width: 160px;
    height: calc(100% - 15px);

    border: 5px solid rgb(5, 60, 94);
    border-radius: 20px;
    background: #FFF;

    background-color: #FFF;
    background-image: url('assets/advisor.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transition: transform 300ms ease-out, opacity 300ms ease-out;
    transition-delay: 500ms;
    transform: scale(0);
    opacity: 0;
}

#game-overlay-decree-text::before, #game-overlay-decree-text::after {
    content: '';
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

#game-overlay-decree-text::before {
    background-image: url('assets/scroll-left.png');
    left: -66px;
    width: 66px;
}

#game-overlay-decree-text {
    position: relative;
    float: left;
    margin: -20px 70px 0 66px;
    width: calc(80% - 136px);
    height: 100%;
    background-image: url('assets/scroll-mid.png');
    background-repeat: repeat-x;
    background-size: contain;

    padding: 20px;
    padding-top: 50px;

    font-size: 20pt;
    font-family: 'Tangerine', cursive;
}

#game-overlay-decree-text::after {
    background-image: url('assets/scroll-right.png');
    right: -50px;
    width: 50px;
}

#game-overlay-decree-buttons, #game-overlay-news-buttons {
    float: left;
    width: 20%;
    height: 100%;
    outline: none;
}

#game-overlay-decree-buttons button, #game-overlay-news-buttons button {
    border: 5px solid red;
    border-radius: 20px;
    height: calc(50% - 20px);
    width: calc(100% - 20px);
    margin: 10px;
    background: none;
    color: red;
    font-size: 30px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    opacity: 0.8;
    background: rgba(0,0,0,0.4);
    outline:none!important;
}

#game-overlay-decree-buttons button:hover, #game-overlay-news-buttons button:hover {
    opacity: 1.0;
    cursor: pointer;
}

#game-overlay-decree-buttons #btn-sign {
    border-color: yellowgreen;
    color: yellowgreen;
}

#game-overlay-decree-buttons #btn-shred {
    border-color: indianred;
    color: indianred;
}

#game-overlay-news-text {
    position: relative;
    float: left;
    margin: -20px 70px 0 66px;
    width: calc(80% - 136px);
    height: 100%;
    background: #FFF;
    /*background-image: url('assets/scroll-mid.png');
    background-repeat: repeat-x;
    background-size: contain;*/
}

#game-overlay-news-buttons button {
    border-color: #FFF;
    color: #FFF;
}

/** START TRANSITIONS **/
#game-overlay-decree.open, #game-overlay-news.open {
    transform: translateY(0)
}

#game-overlay-decree.open #game-overlay-decree-person {
    transform: scale(1);
    opacity: 1;
}
/** END TRANSITIONS **/

#sidebar {
    float: left;
    width: 200px;
    height: 100%;
    padding-top: 60px;
}

#sidebar h2, #sidebar h3 {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: rgb(5, 60, 94);
}

#sidebar h3 {
    font-size: 30px;
}

.sidebar-item {
    width: 170px;
    border-radius: 15px;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.75);
    margin: 0 15px 5px 15px;
    overflow: hidden;
}

#sidebar-greatness {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 0 50px 5px 50px;
    position: relative;
}

#sidebar-greatness svg {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 100px;
}

#sidebar-greatness svg.meter {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center!important;
    transform: rotate(0deg);
    transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#sidebar-greatness[data-percentage='0']  svg.meter { transform: rotate(-149deg); }
#sidebar-greatness[data-percentage='1']  svg.meter { transform: rotate(-134.1deg); }
#sidebar-greatness[data-percentage='2']  svg.meter { transform: rotate(-119.2deg); }
#sidebar-greatness[data-percentage='3']  svg.meter { transform: rotate(-104.3deg); }
#sidebar-greatness[data-percentage='4']  svg.meter { transform: rotate(-89.4deg); }
#sidebar-greatness[data-percentage='5']  svg.meter { transform: rotate(-74.5deg); }
#sidebar-greatness[data-percentage='6']  svg.meter { transform: rotate(-59.6deg); }
#sidebar-greatness[data-percentage='7']  svg.meter { transform: rotate(-44.7deg); }
#sidebar-greatness[data-percentage='8']  svg.meter { transform: rotate(-29.8deg); }
#sidebar-greatness[data-percentage='9']  svg.meter { transform: rotate(-14.9deg); }
#sidebar-greatness[data-percentage='10'] svg.meter { transform: rotate(0deg); }
#sidebar-greatness[data-percentage='11'] svg.meter { transform: rotate(14.9deg); }
#sidebar-greatness[data-percentage='12'] svg.meter { transform: rotate(29.8deg); }
#sidebar-greatness[data-percentage='13'] svg.meter { transform: rotate(44.7deg); }
#sidebar-greatness[data-percentage='14'] svg.meter { transform: rotate(59.6deg); }
#sidebar-greatness[data-percentage='15'] svg.meter { transform: rotate(74.5deg); }
#sidebar-greatness[data-percentage='16'] svg.meter { transform: rotate(89.4deg); }
#sidebar-greatness[data-percentage='17'] svg.meter { transform: rotate(104.3deg); }
#sidebar-greatness[data-percentage='18'] svg.meter { transform: rotate(119.2deg); }
#sidebar-greatness[data-percentage='19'] svg.meter { transform: rotate(134.1deg); }
#sidebar-greatness[data-percentage='20'] svg.meter { transform: rotate(149deg); }

#sidebar-tax, #sidebar-income, #sidebar-balance {
    padding: 10px;
}

.state-title {
    text-align: right;
    margin: 0;
    font-size: 12px;
    color: rgb(5, 60, 94);
}

.state-currency, .state-number {
    text-align: right;
    margin-top: -6px;
    margin-bottom: 0;
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    font-weight:bold;
    color: rgb(5, 60, 94);
}

.state-number {
    font-size: 30px;
}

.sidebar-table {
    display: block;
    width: 150px;
    margin-bottom: 10px;
}

.sidebar-table td {
    width: 75px;
}

.sidebar-table td:first-child h5, .sidebar-table td:first-child div {
    text-align: left;
}

.sidebar-table td:last-child h5, .sidebar-table td:last-child div {
    text-align: right;
}

.progress {
    position: relative;
    overflow: hidden;
    background: #DDD;
    height: 16px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 8px;
    box-shadow: inset 0 1px 2px 0px rgba(0,0,0,0.2);
}

.progress:last-child {
    margin-bottom: 0;
}

.progress-bar {
    background: #0c0;
    height: 100%;
}

.progress-bar.blue { background: #0078cc; }
.progress-bar.red  { background: #c00; }

.progress-bar.left, .progress-bar.right {
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar.left {
    margin-right: 50%;
    border-right: 1px solid black;
}

.progress-bar.right {
    margin-left: 50%;
}

.progress-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #FFF;
    text-shadow: 0.05em 0.05em rgba(0,0,0,0.6);
    font-size: 10px;
    line-height: 14px;
}

/** UTIL **/
.clear {
    clear: both;
}
